<% layout('layouts/boilerplate')%>

<div id="map-cluster" class="mb-3"></div>

<div class="container">
    <!-- <h1>All Tourist Spots</h1> -->

    <% for(let tourspot of tourspots) { %>

    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (tourspot.images.length) { %>
                <img
                    src="<%= tourspot.images[0].url%>"
                    class="img-fluid"
                    alt=""
                />
                <% } else { %>
                <img
                    src="https://images.pexels.com/photos/1603650/pexels-photo-1603650.jpeg"
                    class="img-fluid"
                    alt=""
                />
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/tourspots/<%= tourspot._id%>">
                            <%= tourspot.title%>
                        </a>
                    </h5>
                    <p class="card-text"><%= tourspot.description%></p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= tourspot.location%>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <% } %>
</div>
<script>
    const mapToken = '<%-process.env.BING_API_KEY%>';
    const tourspots = <%- JSON.stringify(tourspots) %>;
</script>

<script src="/js/clusterMap.js"></script>
