<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/stars.css" />

<div class="row">
    <div class="col-6">
        <div id="tourspotCarousel" class="carousel slide">
            <div class="carousel-inner">
                <% tourspot.images.forEach((img, i) => {%>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="" />
                </div>
                <% }) %>
            </div>

            <% if(tourspot.images.length > 1) { %>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#tourspotCarousel"
                data-bs-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#tourspotCarousel"
                data-bs-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
            </button>

            <% } %>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= tourspot.title %></h5>
                <p class="card-text"><%= tourspot.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= tourspot.location %>
                </li>
                <li class="list-group-item">
                    Submitted by <%= tourspot.author.username %>
                </li>
                <li class="list-group-item">
                    ₹ <%= tourspot.expected_budget%>
                </li>
            </ul>

            <!-- Display only if user is authorized to edit and delete -->
            <% if (currentUser && tourspot.author.equals(currentUser)) { %>
            <div class="card-body">
                <a
                    href="/tourspots/<%= tourspot._id %>/edit"
                    class="card-link btn btn-info"
                    >Edit</a
                >
                <form
                    class="d-inline"
                    action="/tourspots/<%= tourspot._id%>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>

            <div class="card-footer text-muted">2 days ago</div>
        </div>
    </div>
    <div class="col-6">
        <!-- Show this form only for signed in users -->
        <% if (currentUser) { %>
        <h2>Leave a Review</h2>
        <form
            action="/tourspots/<%= tourspot._id%>/reviews"
            method="POST"
            class="needs-validation mb-3"
            novalidate
        >
            <div>
                <fieldset class="starability-basic">
                    <input
                        type="radio"
                        id="no-rate"
                        class="input-no-rate"
                        name="review[rating]"
                        value="1"
                        checked
                        aria-label="No rating."
                    />
                    <input
                        type="radio"
                        id="first-rate1"
                        name="review[rating]"
                        value="1"
                    />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input
                        type="radio"
                        id="first-rate2"
                        name="review[rating]"
                        value="2"
                    />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input
                        type="radio"
                        id="first-rate3"
                        name="review[rating]"
                        value="3"
                    />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input
                        type="radio"
                        id="first-rate4"
                        name="review[rating]"
                        value="4"
                    />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input
                        type="radio"
                        id="first-rate5"
                        name="review[rating]"
                        value="5"
                    />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review Text</label>
                <textarea
                    class="form-control"
                    type="text"
                    id="body"
                    name="review[body]"
                    required
                ></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
        <% } %> <% for (let review of tourspot.reviews) {%>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= review.author.username%></h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                </p>
                <p class="card-text"><%= review.body%></p>
                <% if (currentUser && review.author.equals(currentUser)) { %>
                <form
                    action="/tourspots/<%=tourspot._id%>/reviews/<%=review._id%>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <%}%>
    </div>
</div>
